<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<%= link_to "Back to auctions",root_path ,class: "btn btn-inverse" %>
<%= link_to "Settings", '#', class: "btn btn-success" %>
<%= link_to "Sign out", signout_path, method: "delete" ,class: "btn btn-success" %>