 @import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;


 /* universal */

 html {
   overflow-y: scroll;
 }

 body {
   padding-top: 60px;
   font-family: Comic Sans MS;
 }

 section {
   overflow: auto;
 }

 textarea {
   resize: vertical;
 }

 .center {
   text-align: center;
   h1 {
     margin-bottom: 10px;
   }
 }

 #emphasize {
   color: #ff0000;
 }



